body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    /* color: white; */
    /* background: linear-gradient(to bottom, #2296F3, #1566C0); */
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

header {
    color: #343434;
    width: 80%;
    margin: auto;
}

header span {
    color: #2296F3;   
}

header img {
    border-radius: 25%;
    width: 256px;
    height: 256px;
    box-shadow: 0px 0px 10px #E5E5E5;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 84px;
    margin-bottom: 84px;
  }
  
  .imagewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 88px);
    /* height: 300px; */
    margin: 44px;
  }
  
  .image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; /* set to 'auto' in IE11 to avoid distortions */
  }


  .download-container {
      width: 80%;
      /* height: 200px; */
      margin: auto;
      border-radius: 18px 18px 0 0;
      background: linear-gradient(to bottom, #2296F3, #1566C0);
      color: white;
  }

  .download-container h2 {
    margin: 0;
    padding-top: 84px;
}

  .download-container img {
      width: 210px;
      height: auto;
      padding-top: 84px;
      padding-bottom: 84px;
  }

  .download-container p {
    margin: 0;
    padding-bottom: 8px;
    font-size: 12px;
    opacity: 50%;
}

@media (max-width: 767px) {
    .imagewrapper {
        width: 80%;
        margin: auto;
        margin-bottom: 44px;
    }

    h1 {
        font-size: 2em;
        /* margin-top: 60px; */
    }

    .download-container h2 {
        font-size: 2em;
    }

    .download-container img {
        width: 160px;
    }

    header img {
        width: 128px;
        height: 128px;
    }
}